<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.myapplication"
    >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication.NoActionBar"
        android:name=".KakaoApplication">
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data android:host="oauth"
                    android:scheme="kakaob2476841b6d720daedee5ec92a9f201c" />
            </intent-filter>
        </activity>

        <activity android:name=".Kakaologin"></activity>
        <activity
            android:name=".TextActivity"
            android:label="텍스트"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".MenuActivity"
            android:label="메뉴"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".CallActivity"
            android:label="전화"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>